extends layout

block content
  .row
    .col-75
      h1(data-aos='fade-up') Административный модуль
      h2(data-aos='fade-up' data-os-delay='500') Для социальной сети
      .mixin-row50
        .col-50
          a(href='/users' class='btn')
            span Войти
