doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")

  body
    block content
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script.
        AOS.init();