mixin createCatalog(data)
    - let genRanHex = size => [...Array(size)].map(() => Math.floor(Math.random() * 16).toString(16)).join('');
    each item in data
        - let color = genRanHex(6);
        - console.log(color)
        .col-lg-4.col-md-6.mt-4.pt-2
            .blog-post.rounded.border
                .blog-img.d-block.overflow-hidden.position-relative
                    img.img-fluid.rounded-top(src='https://www.bootdey.com/image/350x280/'+color alt='...')
                .content.p-3
                    small.text-muted.p.float-right #{item.date}
                    h4.mt-2
                        a.text-dark.title(href='javascript:void(0)') #{item.title}
                    p.text-muted.mt-2
                        | #{item.content}
                    .pt-3.mt-3.border-top.d-flex
                        img.img-fluid.avatar.avatar-ex-sm.rounded-pill.mr-3.shadow(src='/images/avatar.png' alt='profile-image')
                        .author.mt-2
                            h6.mb-0
                                a.text-dark.name(href='javascript:void(0)') #{item.author}