.game-container {
    position: relative;
    display: inline-block;
}

.panel-item-container{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

#info-panel {
    position: absolute;
    bottom: 10px;
    left: 8px;
    font-size: 36px;
    color: white;
    display: flex;
    align-items: center;
}

#heart {
    width: 35px;
    color: red;
    margin-right: 5px;
}

#wave {
    width: 35px;
    color: blueviolet;
    margin-right: 5px;
}

#heart-value{
    color: white;
}

#money{
    width: 35px;
    color: green;
    margin-right: 5px;
}