body {
    background-color: #c49147;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23694a2e' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");
}

.form_auth_block{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    border-radius: 4px;
}

.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 28px;
    font-weight: 600;
    color: black;
    background: #c79a5a;
    border-radius: 6px;
    border: 4px solid #694a2e;
}

.form_auth_block_paragraph_text{
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.form_auth_block input{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    background-color: #c79a5a;
    color: black;
    border: 4px solid #694a2e;
}
input:focus {
    background-color: #c49147;
    color: black;
}

::placeholder {
    color: black;
}

.btn-level {
    top: 0;
    background: #8d6e63;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0 #6d4c41;
    display: inline-block;
    transition: all .2s;
    position: relative;
    padding: 20px 25px;
    cursor: pointer;
    margin: 20px;
}

.btn-level:active{
    top: 3px;
    box-shadow: 0 2px 0 #6d4c41;
    transition: all .2s;
}

.levels-container {
    position: absolute;
    top: 30%;
    left: 37%;
    font-size: 36px;
    color: white;
    display: flex;
    align-items: center;
}