.game-container {
    position: relative;
    display: inline-block;
}

.panel-item-container{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

#menu-button{
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 36px;
    color: white;
    display: flex;
    align-items: center;
}

#info-panel {
    position: absolute;
    bottom: 10px;
    left: 8px;
    font-size: 36px;
    color: white;
    display: flex;
    align-items: center;
}

#buttons-panel {
    position: absolute;
    bottom: 10px;
    right: 8px;
    font-size: 36px;
    color: white;
    display: flex;
    align-items: center;
}

#heart {
    width: 35px;
    color: red;
    margin-right: 5px;
}

#wave {
    width: 35px;
    color: blueviolet;
    margin-right: 5px;
}

#heart-value{
    color: white;
}

#money{
    width: 35px;
    color: green;
    margin-right: 5px;
}

#menu {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 100%;
}

#exit{
    display: none;
}

.btn-exit{
    width: 210px;
    height: 70px;
    background: #8d6e63;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0 #6d4c41;
    display: inline-block;
    transition: all .2s;
    position: relative;
    padding: 20px 25px;
    top: 0;
    cursor: pointer;
    margin:0 20px;
}

.btn-add {
    width: 76px;
    height: 130px;
    background: #8d6e63;
    font-size: 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 0 7px 0 #6d4c41;
    display: inline-block;
    transition: all .2s;
    position: relative;
    padding: 20px 25px;
    top: 0;
    cursor: pointer;
    margin:0 20px;
}

.btn-add:active, .btn-exit:active{
    top: 3px;
    box-shadow: 0 2px 0 #6d4c41;
    transition: all .2s;
}

#add-tower{
    background-image: url("../src/assets/images/tower-1-0.png");
}

#add-ballista{
    background-image: url("../src/assets/images/ballista.png");
}

#add-health{
    background-image: url("../src/assets/images/heart.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#add-money{
    background-image: url("../src/assets/images/add-money.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#left-panel{
    position: absolute;
    top: 10px;
    right: 10%;
    display: inline-block;
    align-items: center;
}

#left-panel p{
    color: white;
    font-size: 20px;
}

#left-panel h1 {
    font-family: 'Righteous', cursive;
    position: relative;
    color: #f7b21f;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    line-height: 1;
}
