/* Окаймленная форма */
form {
    border: 3px solid #f1f1f1;
}

/* Входы полной ширины */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Установите стиль для всех кнопок */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Добавить эффект наведения для кнопок */
button:hover {
    opacity: 0.8;
}

/* Дополнительный стиль для кнопки отмены (красный) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Центрируйте изображение Аватара внутри этого контейнера */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Аватар изображение */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Добавить отступы для контейнеров */
.container {
    padding: 16px;
}

/* Текст "Забыли пароль" */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Измените стили для кнопки span и cancel на очень маленьких экранах */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}