body {
    margin: 0;
    background-color: black;
}

.root {
    padding: 3rem;
    text-align: center;
}

.root canvas{
    display: block;
    margin: 0 auto;
}

.root h1 {
    font-family: 'Righteous', cursive;
    position: relative;
    color: #f7b21f;
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 60px;
    margin: 20px;
    line-height: 1;
}
.root h1:before, .root h1:after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #f38319 2px, #f38319 4px);
}
.root h1:before {left: 0;}
.root h1:after {right: 0;}
@media (max-width: 420px) {
    .root h1 {font-size: 2em;}
}