#photo-upload {
  display: none;
}

textarea {
  font-size: 1.5em;
  padding: 1em;
  resize: none;
  width: 250px;
  min-height: 200px;
  border: none;
  outline: none;
}

#post-preview {
  text-align: right;
  margin-top: 1em;
}

.mat-card-create-post{
  background: #772b9a;
}
